body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background: azure;
}

/* styling microsoft-logo class using css grid elements */
.microsoft-logo {
    display: grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;  
  grid-row-gap: 20px;    
}

/* Determining square size for logo */
.square {
    width: 200px;
    height: 200px;
}

/* Applying colour to each square-boxes */
.red { background-color: #F35325; }
.green { background-color: #81BC06; }
.blue { background-color: #05A6F0; }
.yellow { background-color: #FFBA08; }